<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.board.board.mapper.BoardMapper">

    <select id="getBoardList" parameterType="com.api.board.board.BoardSearch" resultType="int">
        SELECT COUNT(*)
        FROM board
        ORDER BY large_code
    </select>

    <insert id="insertBoard" parameterType="com.api.board.board.Board" keyColumn="no">
        INSERT INTO board (title, contents, reg_user, reg_date, mod_user, mod_date, large_code, middle_code)
        VALUES (#{title}, #{contents}, #{regUser}, #{regDate}, #{modUser}, #{modDate}, #{largeCode}, #{middleCode})
    </insert>

    <delete id="deleteBoard" parameterType="com.api.board.board.Board">
        delete from board where no = #{no}
    </delete>

    <select id="getListWithPaging" parameterType="com.api.board.board.BoardSearch" resultType="com.api.board.board.Board">
        SELECT *
        FROM (
        SELECT no, title, contents, reg_user, reg_date, mod_user, mod_date, large_code
        FROM board
        <trim prefix="WHERE" prefixOverrides="AND">
            <foreach item="type" collection="typeArr">
                <choose>
                    <when test="type =='no'.toString()">
                        AND no like CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="type =='title'.toString()">
                        AND title like CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="type =='regDate'.toString()">
                        AND reg_date like CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </foreach>
        </trim>
        ORDER BY no DESC
        ) AS temp
        LIMIT #{offset}, #{pageSize}
    </select>

<!--    <select id="getSearchResultCount" parameterType="java.util.Map" resultType="int">-->
<!--        SELECT COUNT(*)-->
<!--        FROM board-->
<!--        <trim prefix="WHERE" prefixOverrides="AND">-->
<!--            <foreach item="type" collection="typeArr">-->
<!--                <choose>-->
<!--                    <when test="type =='no'.toString()">-->
<!--                        AND no like CONCAT('%', #{keyword}, '%')-->
<!--                    </when>-->
<!--                    <when test="type =='title'.toString()">-->
<!--                        AND title like CONCAT('%', #{keyword}, '%')-->
<!--                    </when>-->
<!--                    <when test="type =='regDate'.toString()">-->
<!--                        AND reg_date like CONCAT('%', #{keyword}, '%')-->
<!--                    </when>-->
<!--                </choose>-->
<!--            </foreach>-->
<!--        </trim>-->
<!--    </select>-->

    <select id="getCountWithSearch" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM board
    </select>

    <select id="getLargeCodes" resultType="java.lang.String">
        SELECT DISTINCT large_code, large_code_name
        FROM large_code
    </select>

    <select id="getMiddleCodes" resultType="java.lang.String">
        SELECT DISTINCT middle_code, middle_code_name
        FROM middle_code
    </select>

    <select id="getMiddleCodesByLargeCode" resultType="java.lang.String">
        SELECT DISTINCT middle_code, middle_code_name
        FROM middle_code
        WHERE large_code = #{largeCode}
    </select>

</mapper>
